---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Michael V" description="About Michael V">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
				<img
					width="1553"
					height="873"
					src="/assets/in-nature.jpg"
					alt="Michael and Tsula posing on a boulder at Hanging Rock Park, in North Carolina!"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a Cell and Gene Therapy consultant and freelancer, and currently a grad student in Bioinformatics.  
					</p>
					<p>
						<br>
						I attended Texas State University in San Marcos for my undergraduate studies and had the opportunity to work in multiple research labs ranging from organometallic synthesis to zebrafish neurobiology. After graduation, I continued to work in biophysics research at University of Texas Medical Branch in Galveston studying protein chaperone interactions.  
					</p>
					<p>
						<br>
						My cell therapy experience began in the <a href="https://www.mdanderson.org/research/departments-labs-institutes/departments-divisions/stem-cell-transplantation.html">Stem Cell Transplantation lab</a>  at MD Anderson Cancer Center. The lab was very high-throughput (performing over 850 transplants a year) and provided me with experience in all aspects of cell therapy, from apheresis to cryopreservation and infusion. I also started working in the GMP lab developing a virus-specific T-cell treatment.    
					</p>
					<p>
						<br>
						I then moved on to multiple cell therapy startup companies, manufacturing products ranging from  CAR-T to iPS cell therapies. My role began to expand from manufacturing in the clean room to process development and validation projects. I had the opportunity to build a manufacturing database in one of my early manufacturing roles, and I started expanding my software experience as different tools were needed throughout my career.   
					</p>
					<p>
						<br>
						I am now studying Bioinformatics at UNC Charlotte, with the intention of building my data science and sofware portfolio. My goal is to continue to contribute to the field of immunotherapy by building tools that can help manage and evaluate clinical/manufacturing data to get therapies through approval. I set up MavBio in 2024 as a consulting and freelance service to allow me the freedom to work on projects that excite me! 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li>
							<b>Graduate Certificate in Bioinformatics</b>, 2026
							<br><i>University of North Carolina at Charlotte</i>
						</li>
						<li>
							<b>B.Sc. in Biochemistry</b>, 2015
							<br><i>Texas State University</i>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Personal Life</h2>
				<div class="content">
					<p>
						I moved to Greensboro, North Carolina in 2023 with my Heeler/Husky mix Tsula. Originally from Houston, Texas, I have followed my career around the country. I've called Boston, Puerto Rico, and Kentucky home at various points in my life. 
					</p>
					<p>
						<br>
						We love the outdoors and are always seeking out new adventures. Ideally my weekends are filled with mountain biking, hiking, surfing, or skating, so I definitely have to live near mountains or the beach. I have dabbled in downhill/enduro mountain bike racing, but mostly I just love the freedom of being on two (or four) wheels.   
					</p>
					<p>
						<br>
						I mostly just enjoy progression, so I have many goals for all aspects of my life that I am constantly pursuing. Whether it's building a motorcycle to race the <a href="https://www.biltwellinc.com/pages/biltwell-100?srsltid=AfmBOoo6LMHlv7iL-N2tqiuqbTB0ZobuR_X3vPVz4ifC5nKpG80717Cl">Biltwell 100</a>, competing in <a href="https://www.ucc-sportevent.com/en/megavalanche-alpe-dhuez-en/">Megavalanche</a>, or embarking on a surfing adventure down the coast of South America; I enjoy breaking out of my comfort zone and testing my limits. 
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
